<div>

    <h1 class="panel_title">Mes Competences</h1>


    <div class="container">


        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <!--------------- Affichage des sections sur plus grand ecran ------------------------------------------------>
        <!-- ----------------------------------------------------------------------------------------------------------- -->




        <div class="row">
            

        </div>


        <div class="row large-panel">

            <!------------------- Langage de Programmation -->

            <div class="col prog-panel">

                <h1 class="comps wow fadeInLeftBig ">Développement Logiciel</h1>
                <hr>
                <div class="row">

                    <div *ngFor="let icon of dev_Logi_icons; let i = index"  class="col col-icon">

                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>

                </div>
            </div>

            <!-------------------- Dev Web -->

            <div class="col">

                <h1 class="comps wow fadeInRightBig ">Développement Web</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of dev_Web_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>                    
                </div>
            </div>

            <div class="w-100"> </div>

            <!-------------------- AudioVisuel -->

            <div class="col prog-panel">
                <h1 class="comps wow fadeInLeftBig">Audiovisuel</h1>
                <hr>
                <div class="row">      
                    <div *ngFor="let icon of audiovisuel_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                    
                </div>
            </div>
            <!-------------------- BDD -->
            <div class="col large-panel">
                <h1 class="comps wow fadeInRightBig">Base de donnée</h1>
                <hr>
                <div class="row">


                    <div *ngFor="let icon of BDD_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       

                </div>
            </div>
            <div class="w-100"></div>
            <!--------------------- Les Plus + -->
            <div class="col">
                <h1 class="comps wow fadeInRightBig">Les +</h1>
                <hr>
                <div class="row">

                    <div *ngFor="let icon of plus_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       

                </div>
            </div>
        </div>


        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <!--------------- Affichage des sections sur plus petit ecran ------------------------------------------------>
        <!-- ----------------------------------------------------------------------------------------------------------- -->


        <div class="row small-panel">

            <!-- Langage de Programmation -->

            <div class="col prog-panel">
                <h1 class="comps wow fadeInLeftBig ">Développement Logiciel</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of dev_Logi_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                </div>
            </div>
            <div class="w-100"></div>
            <!-- Dev Web -->

            <div class="col">

                <h1 class="comps wow fadeInRightBig ">Développement Web</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of dev_Web_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                </div>
            </div>

            <div class="w-100"> </div>

            <!-- AudioVisuel -->

            <div class="col prog-panel">
                <h1 class="comps wow fadeInLeftBig">Audiovisuel</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of audiovisuel_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                </div>
            </div>
            <div class="w-100"></div>
            <!-- BDD -->
            <div class="col ">
                <h1 class="comps wow fadeInRightBig">Base de donnée</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of BDD_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                </div>
            </div>
            <div class="w-100"></div>
            <!-- Les Plus + -->
            <div class="col">
                <h1 class="comps wow fadeInRightBig">Les +</h1>
                <hr>
                <div class="row">
                    <div *ngFor="let icon of plus_icons; let i = index"  class="col col-icon">
                        <img class="wow bounceInUp" [attr.data-wow-delay]="icon.delay" [src]="icon.source" [alt]="icon.alt">
                        <p>{{icon.name}}</p>
                    </div>       
                </div>
            </div>
        </div>

    </div>
</div>