<div class="whiteBg">



    <h1 class="panel_title">Mes Compétences</h1>




    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <!--------------- Affichage des sections sur plus grand ecran ------------------------------------------------>
    <!-- ----------------------------------------------------------------------------------------------------------- -->

    <div class="lg:grid grid-cols-6  lg:divide-blueDarkColor-300   lg:divide-x gap-4">

        <!------------------- Langage de Programmation -->
        <div class=" prog-panel  lg:col-start-2 lg:col-span-2">


            <h1 class="comps wow fadeInLeftBig ">Développement Logiciel</h1>
            <div class="row grid grid-cols-3  gap-2">

                <div *ngFor="let icon of icons_dev_logi;" class="col col-icon">

                    <img class="wow fadeIn" [src]="icon.img_source" [alt]="icon.name">
                    <p>{{icon.name}}</p>
                </div>

            </div>
        </div>

        <!-------------------- Dev Web -->

        <div class="col lg:col-span-2 ">

            <h1 class="comps wow fadeInRightBig ">Développement Web</h1>
            <div class="row grid grid-cols-4 gap-4 ">
                <div *ngFor="let icon of icons_dev_web; let i = index" class="col col-icon">
                    <img class="wow fadeIn" [src]="icon.img_source" [alt]="icon.name">
                    <p>{{icon.name}}</p>
                </div>
            </div>
        </div>



        <!-------------------- AudioVisuel -->

        <div class="col prog-panel lg:col-start-1 lg:col-span-2">
            <h1 class="comps wow fadeInLeftBig">Audiovisuel</h1>
            <div class="row grid grid-cols-2 gap-2">
                <div *ngFor="let icon of icons_audiovisuel; let i = index" class="col col-icon">
                    <img class="wow fadeIn" [src]="icon.img_source" [alt]="icon.name">
                    <p>{{icon.name}}</p>
                </div>

            </div>
        </div>
        <!-------------------- BDD -->
        <div class="col lg:col-span-2">
            <h1 class="comps wow fadeInRightBig">Base de données</h1>
            <div class="row grid grid-cols-2 gap-4">


                <div *ngFor="let icon of icons_bdd; let i = index" class="col col-icon">
                    <img class="wow fadeIn" [src]="icon.img_source" [alt]="icon.name">
                    <p>{{icon.name}}</p>
                </div>

            </div>
        </div>
        <!--------------------- Les Plus + -->
        <div class="col lg:col-span-2">
            <h1 class="comps wow fadeInRightBig">Les +</h1>
            <div class="row grid grid-cols-5 gap-4">

                <div *ngFor="let icon of icons_more; let i = index" class="col col-icon">
                    <img class="wow fadeIn" [src]="icon.img_source" [alt]="icon.name">
                    <p>{{icon.name}}</p>
                </div>

            </div>
        </div>
    </div>
</div>