<div>
    <div class=" max-w-xl " mat-dialog-title>
        <h1 class="flex justify-center text-2xl ">Curriculum vitae</h1>
        <hr>

    </div>
    <div class="mx-auto  max-w-2xl" mat-dialog-content>

        <img src="../../assets/images/icon/CV.jpeg" alt="">
    </div>

    <div matDialogActions class="gap-4 grid-cols-2 flex justify-end">
        <a class="button" href="../../assets/images/icon/CV.jpeg" download="CV.jpeg">
            <i class="bg-spindle-500 hover:bg-blueDarkColor text-blueDarkColor hover:text-white font-bold py-2 px-4 rounded"> PDF</i>
        </a>

        <button matDialogClose class="bg-spindle-500 hover:bg-blueDarkColor text-blueDarkColor hover:text-white font-bold py-2 px-4 rounded"> Quitter</button>
    </div>
</div>