<div id="contact_panel" class="shadow p-3 mb-5 rounded">

    <h1 class="panel_title">Me Contacter</h1>


    <div class="container">
        <div id="coord_data">
            <div>
                <p id="email">
                <img src="../../assets/images/icon/mail.png" alt="Mail Logo">
                {{email_isen}}</p>
            </div>

            <br>
            <p id="phone">{{phone_number}}</p>
            <br>
            <p id="localisation">{{localisation}}</p>

        </div>

    </div>


</div>