<body class="container mx-auto">

    <h1 class="panel_title">Me Contacter</h1>
    <!--   Email  -->
    <div id="coord_data" class="grid md:grid-rows-3 md:grid-flow-col px-10 gap-4 ">
        <div class="col-span ">

            <p id="email" class="grown ">
                <a href="mailto:samuel.nezou@isen-ouest.yncrea.fr">
                    <img class=" contact_icon md:float-left  mx-auto align-text-top" src="../../assets/images/icon/contact/enveloppe.png" alt="Mail Logo"> {{email_isen}}
                </a>
            </p>
        </div>

        <!-- Phone  -->
        <div class="col-span ">
            <p id="phone" class="grown ">
                <img class="contact_icon md:float-left  mx-auto align-text-top" src="../../assets/images/icon/contact/telephone-intelligent.png" alt=""> {{phone_number}}
            </p>
        </div>
        <!--  Localisation  -->
        <div class=" col-span   container mx-auto  grown">
            <img class="  contact_icon md:float-left  mx-auto align-text-top" src="../../assets/images/icon/contact/espace-reserve.png" alt="">
            <p class=" col-start-2 " id="localisation">
                {{localisation}}
            </p>

        </div>
        <div class="md:row-span-2">
            <a href='https://www.linkedin.com/in/samuel-nezou/'>

                <img id="QrCodeLink" class="grown md:float-left " src='../../assets/images/icon/contact/linkedin.png' alt='QR Code' />
            </a>
        </div>

    </div>


</body>