<div class="   md:px-4 lg:px-6 py-5 ">
    <div class="  divide-y-2 ">
        <div class=" grid divide-x grid-flow-col ">
            <div *ngFor="let  image of data.project.src" class="col-span-2 ">
                <img src="{{image}}" alt="" class="h-56 w-full border-white border-8 hover:shadow-lg">

            </div>

        </div>
        <div class="bg-spindle-400 px-4 py-4 md:px-10">
            <h1 class="border-b-2 border-width-4 border-white font-bold text-lg ">
                {{data.project.title}}
            </h1>
            <p class="py-4">
                {{data.project.description}}
            </p>
            <div class="flex flex-wrap pt-8">
                <div class="w-full md:w-1/3 text-sm font-medium">
                    NOVEMBER 1,2019
                </div>

                <!-- Techno Use-->
                <div class="md:2/3">
                    <div class="space-x-4 text-sm font-medium ">
                        <p class="inline text-spindle-700">Technologie : </p>

                        <p *ngFor=" let techno of data.project.techno;" class="inline">{{techno}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="grid grid-cols-2">

    <!-- Partie texte-->
    <div class="bg-purple-700">
        <!--  Div Titre-->
        <div class="">
            {{data.project.title}}

        </div>

        <!--  Descritpion  -->
        <div>
            {{data.project.description}}


        </div>

    </div>

    <!-- Partie Photo -->
    <div class=" col-start-2 row-span-3  bg-green-700">

        <div *ngFor="let  image of data.project.src" class="col-span-2 ">
            <img src="{{image}}" alt="" class="h-56 w-full border-white border-8 hover:shadow-lg">

        </div>

    </div>

</div>