
<div id="slider-struct">

    <div id="box">
        <div id="bg">
            <img class="shadow-sm p-3 mb-5 bg-white rounded" src="../../assets/images/2100x900.jpg" class="card-img-top" alt="...">
            
            <div class="transbox">
                <!-- Div contenant le scroll down avec la flèche -->
                <div id="scroll-div">
                    <img class="wow pulse" data-wow-iteration="infinite" src="https://icongr.am/material/arrow-down.svg?size=128&color=ffffff" alt="">
                </div>
                <div id="identity" >
                    <p>{{name}}</p>
                    <p id="subtilte">{{sous_titre}}</p>
                </div>
               
            </div>

         </div>
    </div>
</div>




