/* You can add global styles to this file, and also import other style files */

:root {
    --blueLightColor: #b9d7eb;
    --blueDarkColor: #272e37;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screen';
@font-face {
    font-family: beba;
    src: url(assets/font/Bebas-Regular.otf) format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'tommy_extraBold', 'arial', sans-serif;
    /* color: #b9d7eb; */
    /*bleu claire */
    color: #272e37;
}

@font-face {
    font-family: tommy_extraBold;
    src: url(assets/font/Tommy/TOMMY_ExtraBold.otf) format("opentype");
}

@font-face {
    font-family: quickSand_oblique;
    src: url(assets/font/Quicksand_Light_Oblique.otf) format("opentype");
}

@font-face {
    font-family: quickSand_bold_oblique;
    src: url(assets/font/Quicksand_Bold_Oblique.otf) format("opentype");
}

@font-face {
    font-family: quickSand;
    src: url(assets/font/Quicksand_Light.otf) format("opentype");
}

@font-face {
    font-family: quickSand_bold;
    src: url(assets/font/Quicksand_Bold.otf) format("opentype");
}

.panel_title {
    text-align: center;
    font-size: clamp(16px, 10vw, 60px);
    margin-bottom: 1.5%;
    padding-top: 30px;
}


/*  Aniamtion */

.grown {
    transition: all .2s ease-in-out;
}

.grown:hover {
    transform: scale(1.1);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blueBg {
    /*background: linear-gradient(var(--blueLightColor), 95%, white);
*/
    background: var(--blueLightColor);
}

.whiteBg {
    background: linear-gradient(var(--blueLightColor), 10%, white, 90%, var(--blueLightColor));
}

.darkBg {
    background-color: var(--blueDarkColor);
}